extends layout 

block content 
    body
        ul 
            li 
                a(href="/users/main" class="fa fa-home") Home
            li 
                a(href="/users/index" class="glyphicon glyphicon-user") Profile     

        h1(class='h1Dogs')  Why you should be babysitter?
        article(class='articleDogs')
          h2(class='h2Dog') Responsibility
          br
          p(class='pDogs') “The truth is, not all teenagers should be babysitters. This is an opportunity that requires maturity, trust and responsibility,” says Raposo. Some teens have what it takes to become a sitter, while others don't. But if your teen is ready, “babysitting can be an invaluable experience for both the sitter and the family that he or she cares for,” she says. “Babysitting does so many things for a teenager,” Gauld notes. “One learns about caring for a young child and, for most teens, this brings out a sense of responsibility and maturity.” They are entrusted with young children and have to care for them, plan activities, watch out for safety issues and deal with other important tasks. That responsibility is a great way to help teens become more mature. As the mother of a teenager, Glassy is thrilled that, “she often comes home with a charming story about something funny or cute 'her kids' did. I see how it has helped her grow into a responsible, loving caregiver. As a parent, I am thrilled she has had this opportunity.”
          br
          h2(class='h2Dog') Money Know-How
          br
          p(class='pDogs') Since babysitting is likely your teen's first job, it's also a way to introduce invaluable life skills, like how to save and spend hard-earned money. Remember that “value of a dollar” lesson you've unsuccessfully being trying to teach your teen for years? Now that she's earning her own money, it may sink in. Talk about what she plans to do with the money she makes babysitting. What percent will she spend versus save? Discuss opening up a bank account in her name if your teen doesn't already have one — it will make it easier to save. Look around for local classes on finances and money management that you and your teen could take together. 
          br
          h2(class='h2Dog') Flexibility and Scheduling
          br
          p(class='pDogs') Teens have to learn that you can’t always predict when something is going to happen. When a last-minute babysitting job opens up, teenagers have to manage their schedules and priorities so they can take the job, but still get homework and extracurricular tasks done.
          br
          h2(class='h2Dog') Emergency Skills
          br
          p(class='pDogs') In order to be a better babysitter, your teenager should take classes on CPR and first aid. These classes will help her land babysitting gigs, but the skills she learns will cross over into any emergency situation at school, with friends or at home.
          br
          h2(class='h2Dog') Career Experience
          br
          p(class='pDogs') Babysitting could lead your child into a future career. For example, Glassy discovered how much she cares for children as a babysitter, and it influenced her decision to become a pediatrician.
    footer(class='footerDogs')
        p(style="font-size:20px") If you are intrested in finding this kind of job, here are our offers:      
        a(href="/users/offers" style='font-size:20px' class="btn btn-primary") Babysitting       