extends layout 

block content 
    body 

        if authorized == true 
            ul 
                li 
                    a(class="active" href="/users/index" class="glyphicon glyphicon-user") Profile
         
          
            a(href="/users/walkingDogs")  
                img(src="../images/close-up-traveler-walking-with-dog.jpg" width="300" height="250")
                    
              
            a(href='/users/babysitter')
                img(src="../images/pexels-alex-green-5691820.jpg" width='300' height='250')
                   
        else 
            ul 
                li 
                    a(class="active" href="/users/index" class="glyphicon glyphicon-user") Profile 
                li 
                    a( href="/users/login") Login  
                li
                    a(href='/users/register') Register


