extends layout 

block content 
  head 
    h1(class='h1Dogs') Register 
  body 

    ul 
      li
        a(href="/users/teen") Register as teen 
      li 
        a(href="/users/company") Register as company 
      li 
        a(href='/users/login') You already have account?



