extends layout 


block content 
    body 
        ul
            li(class="w3-large")
              a(href='/users/main' class="fa fa-home") Home
        div(class="container")
            form(method='post' action='/users/login')
                div(class="row")
                    h2(style='text-align:center' class="h1Dogs") Login with Social Media or Manually
                    
                        input(class="inputFrom" type='text' name='email' placeholder='Email' style="color:black" required='')
                        br
                        input(class="inputFrom" type='password' name='password' placeholder='Password' style="color:black" required='')
                        br 
                        input(class="inputFrom" type='submit' value='Login')
        div(class="bottom-container" style="background-color:darkblue")
            div(class="row")
                div(class="col")
                    a(class='btn' href='/users/register' style='color:white;padding:30px' ) Sign up
                div(class="col")
                    a(class="btn" href='/users/forgotpassword' style='color:white;padding:30px') Forgot password?


