extends layout 

block content 
    body
        ul 
            li 
                a(href="/users/main" class="fa fa-home") Home
            li 
                a(href="/users/index" class="glyphicon glyphicon-user") Profile     

        h1(class='h1Dogs')  Why walking dogs is the right job for you?
        article 
           h2(class='h2Dog') The health benefits of dog walking to you and your dog
           br
           p(class='pDogs') Dog owners enjoy numerous health and social benefits by walking their dog a few times a week. Benefits include improved cardiovascular fitness, lower blood pressure, stronger muscles and bones (built up by walking regularly), and decreased stress.
           br
           p(class='pDogs') A regular walk is vitally important for your pet's health too. Obesity in pets is associated with a number of medical complaints including osteoarthritis, cardiovascular disease, liver disease and insulin resistance.
           br
           p(class='pDogs') Most dogs need to be walked at least once each day, though some dogs, particularly very active dogs, may require more. The breed of dog you have, as well as its level of fitness and age, will also determine how long and how vigorous your walk should be.
           br
           p(class='pDogs') A walk can make a dog very happy. They love to check out the sights and smells and will really look forward to spending time with you. A dog that doesn't receive sufficient exercise can easily become bored or destructive.
           br
           h2(class='h2Dog')  Boosts social skills for both parties
           br
           p(class='pDogs') According to one survey, people that walk dogs are perceived as more friendly and approachable, as well as more likely to acknowledge and greet others in the street. Having a dog can break uncomfortable social barriers between people, and encourage you to meet others in your neighbourhood or community.
           br
           p(class='pDogs') And that's just for people! Going for a dog walk exposes your dog to other people, objects, and animals, so they have the opportunity to learn suitable social behaviours. Regular walks, starting from an early age, encourage dogs to develop appropriate social manners and etiquette.
           br
           h2(class='h2Dog') Provides an opportunity for training
           br
           p(class='pDogs') Walking is particularly beneficial for dogs as it aids their digestive and urinary health. In short, it helps them use the loo! Daily walks are a good excuse to practice using the bathroom outdoors, especially for puppies.
           br
           p(class='pDogs') Walks also give you the chance to practice training techniques like working on commands and recall. Training is another great way for your dog to engage in mental stimulation.

    footer 
    
        p(style="font-size:20px") If you are intrested in finding this kind of job, here are our offers:      
        a(href="/users/offers" style='font-size:20px' class="btn btn-primary stretched-link") Dog walking   