@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(221, 174, 174, 1) 0%, rgba(72, 52, 153, 1) 0%);
    font-family: "Sansita Swashed", cursive;
}

.center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

.center h1 {
    font-size: 2em;
    border-left: 5px solid dodgerblue;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
}

.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}

.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.center .inputbox input:focus~span,
.center .inputbox input:valid~span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

button {
    width: 50%;
    background: dodgerblue;
    color: #fff;
    border: #fff;
}

button:hover {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.637);
    overflow-x: hidden;
    padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Style the main content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}