body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/teamWork.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

label {
  color: rgb(240, 233, 233);
  padding: 20px;
  border: 79cm;
  font-family: Arial;
}

footer {
  
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

h1 {
  color: #999999;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 1px;
  }

table, th, td {
  border: 1px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsla(0, 7%, 32%, 0.425);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 50px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
